<form method="post" action="/feed/{{ feed.id }}/notification" class="d-inline"
hx-post="/feed/{{ feed.id }}/notification" hx-trigger="submit throttle:1s" hx-swap="outerHTML"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><button type="submit" aria-live="assertive"
   aria-label="{{ 'Notify about new posts in this feed' if feed.notify_new_posts(current_user.id) else 'Do not notify about new posts' }}"
class="btn btn-link p-0 border-0 align-baseline fe {{ 'fe-bell' if feed.notify_new_posts(current_user.id) else 'fe-no-bell' }} no-underline"
title="{{ _('Notify about every new post. Not advisable in high traffic feeds!') }}"></button></form>
