<form method="post" action="{{ url_for('post.post_notification', post_id=post.id) }}" class="d-inline"
hx-post="{{ url_for('post.post_notification', post_id=post.id) }}" hx-trigger="submit throttle:1s" hx-swap="outerHTML"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><button type="submit" aria-live="assertive"
   aria-label="{{ 'Notify about replies to this post.' if post.notify_new_replies(current_user.id) else 'Do not notify about new replies to this post.' }}"
class="btn btn-link p-0 border-0 align-baseline small fe {{ 'fe-bell' if post.notify_new_replies(current_user.id) else 'fe-no-bell' }} no-underline"
title="{{ _('Notify about replies') }}" aria-label="{{ _('Notify about replies') }}"></button></form>