[Unit]
Description=PieFed Redis

[Container]
ContainerName=pyfedi_redis
Image=docker.io/library/redis:6.2
EnvironmentFile=/home/rocky/pyfedi/.env.docker
Volume=pyfedi-redis-data.volume:/data
Network=pyfedi.network
NetworkAlias=redis

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
