[Unit]
Description=PieFed Adminer (loopback only)
Requires=pyfedi-db.service
After=pyfedi-db.service

[Container]
ContainerName=pyfedi_adminer
Image=docker.io/library/adminer
PublishPort=127.0.0.1:8888:8080
Network=pyfedi.network

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
