[Unit]
Description=PieFed Postgres

[Container]
ContainerName=pyfedi_db
Image=docker.io/library/postgres:17
User=1000
Group=1000
ShmSize=2g
EnvironmentFile=/home/rocky/pyfedi/.env.docker
# ':z' relabels the bind mount for SELinux. ./pgdata must be owned by uid 1000.
Volume=/home/rocky/pyfedi/pgdata:/var/lib/postgresql/data:z
Network=pyfedi.network
NetworkAlias=db
Exec=postgres \
    -c shared_buffers=1GB -c effective_cache_size=2GB -c work_mem=32MB -c maintenance_work_mem=256MB \
    -c checkpoint_completion_target=0.9 -c wal_buffers=16MB -c max_wal_size=3GB -c min_wal_size=1GB \
    -c random_page_cost=1.1 -c effective_io_concurrency=200 \
    -c max_connections=150 -c jit=off

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
